/* Last minute responsive behavior */

/* Mobile */
@media screen and (max-width:767px) {
  ul {
    transform:translateX(-55vw);
  }
  section ul li blockquote {
    width:80vw;
  }
  footer ul {
    overflow:scroll;
    transform:translateX(0vw);
    white-space: nowrap;
  }
  html {
    position: fixed;
  }
  section textarea {
    width:80vw;
    transform:translateX(-45vw);
  }
  section h2 {
    transform:translateX(-7em);
    text-align:left;
  }
}

.grid-item { 
  width: 400px; 
  height: 400px; 
  background-color: white;
  margin:1em;
  overflow: hidden;
  border:none;
  outline: 5px dashed black;

}

p {
  color:black;
  margin:1em;
  padding-top:1em;
}

.grid--pic {
  margin:1vw;
}

.picture-gallery h1, .overview h1 {
  top:1;
}

.grid {
  width:100vw;
  height:100vh;
  position: absolute;
  top:48px;
  left:0;
  border-radius: 0;
  /* background-color: transparent; */
  overflow: scroll;
  z-index: 0;
  background: url("https://folklife.si.edu/Media/Default/Talk%20Story/Tindall_Underground-Railroad-quilt.jpg");
  background-attachment: local;
  transform:translateY(-7vh);
  z-index: 1;
  padding-left: 1vw;
}

 .grid {
  box-shadow:inset 0 0 200em #000000;
}

.overview .picture-gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}



.reflection button {
  margin-top:5vh;
}

header, footer {
  /* border-radius: 1em; */
  z-index: 1;
}

header {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

footer {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

nav {
  width: 100vw;
}

header {
  position: absolute;
  background-color:rgba(0, 0, 0, 0.75);
}

header, header p {
  color:white;
}

section {
  height: 100vh;
  overflow-y: scroll;
  padding: 100em;
}

li {
  list-style-type: none;
}

@keyframes expandBounce {
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(3px);
  }
  80% {
    transform: translateY(0px);
  }
}

@keyframes expandBounceReverse {
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(0px);
  }
}

footer {
  position:absolute;
  bottom:0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
}

.nav-bottom, header, footer {
  z-index: 2;
}

.nav-top {
    background-color:transparent;
    position:fixed;
    z-index: 5;
}

.nav-bottom {
  position:fixed;
  bottom:0;
  background-color: transparent;
}

nav svg {
  display: block;
  margin: auto;
  animation: expandBounce 2s ease;
  animation-iteration-count: 3;
}

.nav-bottom svg {
  animation: expandBounceReverse 2s ease;
  animation-iteration-count: 3;
  z-index: 1;
}

body {
  background-color: white;
}

header {
  text-align: center;
  margin-top: 0;
  padding: 1em;
  z-index: 2;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  background-color: #B88CFA;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  transition: 0.2s;
}

#main-buttons button {
  background-color: #FA7380;
}

#main-buttons button:hover {
  cursor: pointer;
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px #AD5861;
}

#main-buttons button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

button:hover {
  cursor: pointer;
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px #7550AD;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

footer ul {
  display:flex;
  justify-content: center;
  gap:7vw;
  padding:0;
}

/* Placeholder for masonry.js framework; Delete later */

section {
  padding: 15em;
  text-align: center;
  width: 100vw;
  margin:0;
  color:white;
  /* Except this v */
}

.overview h1, .picture-gallery h1 {
  color:white;
  width:8em;
  transform:translate(40vw);
}

.personal-story {
  background-color: #60d7a9;
}

.reflection {
  background-color: #fdc162;
}

.stories {
  background-color: #f68dbb;
}

/* vvv 🚨 Testing playground for isolating sections: DELETE LATER 🚨 vvv */

.picture-gallery, .stories, .reflection, .personal-story {
  display:none;
}

#personal-story--text, #personal-story--images, #personal-story--both {
  display:none;
}

 /* Ripped from CSS-tricks */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  color:black;
}

.grid--quote p{
  margin: 1em;
}

form {
  color:black;
}